.error {
    color: red;
}

.info {
    color: yellowgreen;
}

label {
    padding-right: 10px;
}

.configurator {
    background: rgb(64, 64, 64);
    margin-top: 10px;
    padding: 5px;
}

.spacing{
    margin: 10px;
}