.error {
    color: red;
}

.event { 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #333333;
    background: rgb(64, 64, 64);
}

.info {
    color: yellowgreen;
}

label {
    padding-right: 10px;
}

.configurator {
    background: rgb(64, 64, 64);
    margin-top: 10px;
    padding: 5px;
}