.toolBar{
    width:50%;
    background: #2C3134;
    margin:auto;
    padding: 10px;
    padding-top: 14px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    position: fixed;
    left: 50%;
    margin-left: -25%;
}

.toolBar button i{
    display: block;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.toolBar button:focus, .toolBar button.mode{
    color: #fff;
    background: rgb(35, 35, 35);
}