.toolBar{
    width:30%;
    background: #2C3134;
    margin:auto;
    padding: 10px;
    padding-top: 14px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    left: 25%;
}

.toolBar button i{
    display: block;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.toolBar button:focus, .toolBar button.mode{
    color: #fff;
}
