.toolBar{
    width:25%;
    margin:auto;
    padding: 5px;
    padding-top: 14px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    left: 30%;
}

.toolBar button i{
    display: block;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.toolBar button:focus, .toolBar button.mode{
    color: #fff;
    background: rgb(35, 35, 35);
}
