.showBackground{
    background:grey;
    display:flex;
    height: 100vh;
}

body { margin:0; }

ul {
    margin-left: -30px;
}

li , label, p {
    font-size: 14px;
}

h3, h4, h5 {
    margin-top:10px;
    margin-bottom:10px;
}

input, textarea { 
    font-size: 11px;
}