body {
    position:relative;
    color: #d9d9d9;
    font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    background: black;
}

li , label, p, .rules , input, textarea{
    font-size: 9px;
}

input, textarea { 
    background: #2b2b2b;
    color: #d9d9d9;
    opacity: 0.75;
    vertical-align: bottom;
}

input[type="text"] {
    -webkit-appearance: textarea;
    color: rgba(255,255,255,0.5);
    border-color: rgba(0,0,0,0.9);
    border-width: 1px;
    padding: 7px;
}

ul label input {
    width: 10px;
}

ul, li {
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

button, select{
    color: rgba(255,255,255,0.5);
    border-color: rgba(0,0,0,0.9);
    border-width: 0px;
    padding: 5px;
    background-color: transparent;
    margin-left: 4px;
}

select:focus{
    
    outline: 1px solid white;
}

button i{
    padding-right:4px;
}

select:focus, 
ul label:hover, 
li:hover, 
.content:hover {
    color: #fff;
    background: rgb(43, 43, 43);
}

button:hover{
    color: #fff;
}

ul,li, ul label {
    color: rgba(255,255,255,0.5);
}


#index{
    margin:-4px;
}

.CodeMirror {
    border: 1px solid black;
    margin-top:5px;
}

.container{
    padding: 5px;
    background: #2C3134;
}

*::-webkit-scrollbar {
  width: 1px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}