.console{
    position: fixed;
    right: 150px;
}

.error {
    color: red;
}

.event { 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
    background: rgb(64, 64, 64);
    position: relative;
}

.info {
    color: yellowgreen;
}

label {
    padding-right: 10px;
}

.disableEditOverlay {
    position: absolute;
    background: brown;
    top: 0px;
    left: -370px;
    z-index: 1;
    pointer-events: none;
    border: 1px solid black;
}

.existingEvents {
    background: rgb(64, 64, 64);
    margin-top: 10px;
    padding: 5px;
}