.leftItem{
    position: absolute;
    left:0px;
    z-index:100000;
    animation: slide-to-screen 0.7s ease;
}

@keyframes slide-to-screen {
    0% {
        left:-300px;
    }
    100% {
        left: 0px;
    }
}