.Right{
    position: absolute;
    right:0px;
    animation: slide-right 0.2s ease;
    height: 100%;
    overflow: scroll;
    width:400px;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        right:-100px;
    }
    100% {
        opacity: 1;
        right: 0px;
    }
}

.tab-content{
    height:100%;
    border: 1px #404040 solid;
}

.tab-content ul {
    padding: 12px;
}

.tabs {
    display: inline-block;
    cursor: default;
    
    margin-top: 15px;
    margin-bottom: 11px;
    color: rgba(255,255,255,0.5);
    padding: 5px;
    font-size: 12px;
}