.error {
    color: red;
}


.info {
    color: yellowgreen;
}

label {
    padding-right: 10px;
}

.event input {
    margin-left:5px;
    width:150px;
}

.event textarea {
    margin-top: 8px;
    width: 300px;
}

.input {
    padding: 5px;
}

.event {
    margin-bottom: 15px;
}
