.focus-bar {
    position: absolute;
    pointer-events: all;
    white-space: nowrap;
    bottom: -28px;
    background-color: #3E8CE4;
    border-radius: 2px 2px 0 0;
    font: 16px/1 Arial, Helvetica, sans-serif;
    color: #fff;
}

.focus-bar > span i {
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
}

.focus-bar .move-handle:first-child {
    cursor: move !important;
}


.focus-bar button {
    background-color : #3E8CE4;
    border-color: white;
}

.focus-bar > span:not(.move-handle):hover {
    background-color: rgba(0,0,0,0.1);
}


.highlights .focus {
    pointer-events: none;
    border: 1px solid #3E8CE4;
    border-radius: 2px;
    border-top-left-radius: 0;
    width: 100%;
    height: 100%;

    border-width: 1px;
}

.ui-overlay {
    position: relative;
}