/* Show green when component is selected*/

.selected, .green {
    border: 1px solid green;
    background: rgb(43, 43, 43);
}

/* Show dark background to components */

.background {
    background: rgb(64, 64, 64);
    border: 1px solid #333333;
}

/* Show some spacing before the component name */

.component .componentName{
    padding:7px;
}

.component {
    display:flex;
}

/* Show comopnent preview onDrag*/

.dragStarted span:not(.componentName){
    display:none;
}

.hidden{
    display: none;
}