.interact-horizontal,
.first{
    margin:-4px;
}
.interact-horizontal {
    width:50vw;
    height:100vh;
    display: inline-block;
}

.first {
    background-color:tomato;
}

.slider:hover .first:hover{
    width:60vw;
    transition: width 1s;
}
.slider{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.slider:hover .first:not(:hover) {
    width:40vw;
    transition: width 1s;
}