.events {
    border:1px solid black;
    padding: 5px;
    height: 100vh;
}

.events ul {
    padding-left: 5px;
}

.error {
    color: red;
    position: fixed;
    right: 150px;
}

.existingEvents,.newEvent {
    background: rgb(64, 64, 64);
    margin-top: 10px;
    padding: 5px;
}