.events {
    border:1px solid black;
    padding: 5px;
}

.error {
    color: red;
}

.tags.tags ul {
    border: 0px;
    margin-left: 30px;
    padding:5px;
}

.tags ul:first-child {
    margin-left: -2px;
}

#saveEvent, #deleteEvent, #addPublish, #deletePublish, #savePublish{
    font-size: xx-small;
}