.interact-horizontal,
.first{
    margin:-4px;
}
.interact-horizontal {
    width:50vw;
    height:100vh;
    display: inline-block;
    transition: width 1s;
    background-color:tomato;
}

.slider{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.snap {
    background-color: dimgrey;
    display: inline-block;
    margin-left: 4px;
    top: 50%;
    position: absolute;
}

.snap span {
    padding: 5px;
    background-color: dimgrey;
}

.snap input {
    position: absolute;
    opacity: 0;
}

.slideIn {
    width: 1vw;
    transition: width 1s;
    height:100vh;
    display: inline-block;
    background-color:tomato;
}