.interact-horizontal,
.first,
.second {
    margin:-4px;
}
.interact-horizontal {
    width:50vw;
    height:100vh;
    display: inline-block;
}

.first {
    background-color:tomato;
}

.second {
    background-color: grey;
}

.slider:hover .first:hover,
.slider:hover .second:hover {
    width:60vw;
    transition: width 1s;
}

.slider:hover .second:not(:hover),
.slider:hover .first:not(:hover) {
    width:40vw;
    transition: width 1s;
}