.newFolder{
    user-select: none;
    padding-left:5px;
}

.newFolder i{
    color: rgba(255,255,255,0.5);
    border-color: rgba(0,0,0,0.9);
    border-width: 1px;
    padding: 7px;
}

.newFolder.dragOver i{
    animation: blink .5s infinite;
}

@keyframes blink{
    from {    
        color: rgba(255,255,255,0.5);
    }
    to {
        color: white;
    }
}
.fa.fa-folder ~ ul {
    display: none;
}
.fa.fa-folder-open ~ ul {
    display:block;
}