.override {
    line-height: 0%;
}

.selected {
    border: 1px solid green;
}

.hide {
    display: none;
}

textarea {
    height: 70px;
    width: 250px;
}

.elements{
    display: flex;
    align-items: stretch;
}