.override {
    line-height: 0%;
}

textarea {
    height: 70px;
    width: 450px;
}

.title{
    margin-top: 15px;
    margin-bottom: 11px;
    color: rgba(255,255,255,0.5);
    background: rgb(64, 64, 64);
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
}

.elements-tab {
    left:0px;
    height: 95vh;
    width:21vw;
}

.elements-tab > ul {
    max-height: 300px;
    overflow: scroll;
}

.Controls{
    padding: 5px;
    padding-bottom: 12px;
}