.container{
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 8px 26px -8px black;
    background: #2C3134;
}

.dropPoint{
    border: 1px solid green;
}

.targetChild{
    border: 1px solid #3E8CE4;
}

.preview div:nth-child(2) {
    height:50vh;
    width:30vw;
    overflow:scroll;
    zoom: .80;
}