.container{
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 8px 26px -8px black;
    background: #2C3134;
}

.wrapper{
    position: relative;
}

.controls {
    position: absolute;
    border-top: none;
}