.container{
    padding: 5px;
    background: #2C3134;
}

/* Center align the title */

.preview .title{
    text-align: center;
}

/* Fix the height and width of the preview - default*/

.preview .dynamicComponent {
    width:30vw;
    height: 600px;
    overflow:scroll;
}
