.container{
    padding: 5px;
    background: #2C3134;
}

/* Center align the title */

.preview .title{
    text-align: center;
}

/* Fix the height and width of the preview - default*/

.preview .dynamicComponent {
    width:30vw;
    height: 600px;
    overflow:scroll;
}

/* Fix the height and width of preview - mobile display */

.preview.mobile .dynamicComponent {
    width:479px;
    transition: width .2s;
}

/* Fix the height and width of preview - tablet display */

.preview.tablet .dynamicComponent{
    width:767px;
    transition: width .2s;
}

/* Fix the height and width of preview - desktop display */

.preview.desktop .dynamicComponent {
    width:991px;
    transition: width .2s;
}

/** Highlight mobile when display mode is mobile */

.preview.mobile .fa-mobile-alt {
    font-size: 18px;
    padding: 5px;
    transition: font-size .1s,padding .1s ;
}

/** Highlight tablet when display mode is tablet */

.preview.tablet .fa-tablet-alt {

    font-size: 18px;
    padding: 5px;
    transition: font-size .1s,padding .1s ;
}

/** Highlight desktop when display mode is desktop */

.preview.desktop .fa-desktop {
    font-size: 18px;
    padding: 5px;
    transition: font-size .1s,padding .1s ;

}