.console{
    position: fixed;
    right: 150px;
}

.error {
    color: red;
}

.event { 
    border-top: 1px solid #333333;
    background: rgb(64, 64, 64);
}

.info {
    color: yellowgreen;
}

label {
    padding-right: 10px;
}