.selected, .green {
    border: 1px solid green;
    background: rgb(43, 43, 43);
}

.background {
    background: rgb(64, 64, 64);
    border-bottom: 1px solid #333333;
}

.component {
    display:flex;
    justify-content: space-between;
}

.component .componentName{
    padding:7px;
}

.thumbnail {
    width: 50px;
}

.selectedAsset{
    border: 1px lightgray dashed;
}