.drop_zone {
      border: 1px lightgray dashed;
      width:  200px;
      height: 100px;
  }

  .drag_over {
    border: 2px lightgray dashed;
    width:  200px;
    height: 100px;
  }

  .tinyThumbnail,
  .tinyThumbnail img{
    width:200px;
  }

  .assets p{
    padding:15px;
  }