.bottom{
    position: absolute;
    z-index: 100000000;
    bottom:0px;
    width: 100vw;
    animation: slide-up 0.4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}