.hint{
    height:100px;
    width:100%;
    border: 1px dashed green;
}

.hintDragOver{
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        border: 1px dashed green;
    }
  
    to {
        border: 2px dashed green;
    }
  }